# Functional Requirements
1. Schedule exam dates and times (patients, equipment, staff)
2. Delete, create, and update patient records (demographics, clinical, reports)
3. Transfer patient records to other "systems"
4. Delete, create, and update exam orders
5. Transfer exam orders information if necessary 
6. Recognize and create conflict alerts and resolutions
7. Ability to view and select from list of patients in order to obtain patient's information
8. Store and retrieve images from radiology exams (from database) 
9. Store and retrieve transcription reports and radiologist's impressions
10. Physician (User) should have a portal to review all necessary information from patients (Only that Physician's patients)
11. Ability to create, delete, update different physician to access the system (User)
12. Ability to assign a patient to a physician (referring or current?)

# Non-Functional Requirements
1. Programming language will be in Java
2. Does not have to be scalable
3. All confidential information will be password protected

#Things we should ask -------------
1. Are we registering a patient from our own system, or the information is already available?
